extends layout

block content
  h1= title
  p Selamat datang di Web #{title}
  .row
    .col-md-12
      label Setpoint Kadar Air
    .col-md-3.form-inline
      input(class="form-control" id="kadar_input" type="number" style="margin-right: 10px;" value=0)
      input(class="form-control btn-primary" type="button" value="Kirim" onclick="kadarSend()")
    .col-md-12
      label Referensi Suhu
    .col-md-3.form-inline.form-group
      input(class="form-control" id="suhu_input" type="number" style="margin-right: 10px;" value=0)
      input(class="form-control btn-primary" type="button" value="Kirim" onclick="suhuSend()")
    .col-md-12.form-inline.form-group
      input(class="form-control btn-primary inline-space" type="button" value="Start" onclick="startSend()")
      input(class="form-control btn-danger inline-space" type="button" value="Stop" onclick="stopSend()")
      input(class="form-control btn-primary inline-space" type="button" value="Clear")
      a(class="form-control btn-primary" type="button" value="Database" href="/list") Database
    .col-md-6
      table(class='table table-bordered table-hover')
        thead
          tr
            th Suhu
            th Kadar Air Objek
            th Kadar Air Humidity dan Moisture
            th Kelembapan
            th PWM Heater
        thead
          tr
            td 0
            td 0
            td 0
            td 0
            td 0

  
  script(src="/javascripts/gabah-fe.js")
